.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  grid-template-rows: 1fr 10px 1fr;

  overflow: scroll;
}

.messagesContainer {
  grid-column: 2 / span 3;
  grid-row: 1;
}

.inputContainer {
  grid-column: 3;
  grid-row: 3;
  bottom: 0;

  display: grid;
  grid-template-columns: 1fr 80px;
  grid-template-rows: 1fr;
}

.indicator {
  grid-column: 3;
  grid-row: 2;
  justify-self: center;
}
