<div class="container">
  <div class="greeting">
    <p class="welcomeString">Добро пожаловать в <span class="ivkTitle">Invisible VK</span></p>
    <p>IVK является клиентом для популярной социальной сети Вконтакте. Он позволяет пользоваться социальной сетью незаметно для других!</p>
    <div>
      Список функций:
      <ul class="features">
        <li>Время последнего посещения не обновляется</li>
        <li>Отправитель сообщения не знает о том, что вы прочитали его сообщение</li>
        <li>Получатель вашего сообщения не знает о том,что вы печатаете текст</li>
      </ul>
    </div>
  </div>
  <!--<a class="buttonLogin" href={VK_AUTH_URL}>-->
  <a class="buttonLogin" href="#">
    <button md-raised-button>Raised button</button>
    <!--<RaisedButton-->
            <!--label="Войти"-->
            <!--fullWidth={true}-->
            <!--primary={true}/>-->
  </a>
</div>